/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --white-color: hsl(0 0% 100%);
  --black-color: hsl(0 0% 0%);

  /*========== Font family ==========*/
  --body-font: 'Poppins', sans-serif;

  /*========== Font sizes ==========*/
  --h1-fs: 2rem;
  --normal-fs: 1rem;
  --small-fs: 0.813rem;

  /*========== Font weight ==========*/
  --medium: 500;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-fs);
}

body {
  color: var(--white-color);
  overflow-y: hidden; /* Hide horizontal scrollbar */
}

input,
button {
  outline: none;
  border: none;
}

h1 {
  font-weight: var(--medium);
}

a {
  text-decoration: none;
}


header {
  background: #ff0066;
  height: 66px;
  position: sticky;
  top: 0;
  padding-right: 50px;
  width: 100%;
  z-index: 9999;
  
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
  font-weight: 600;
  font-family: sans-serif;
}

header .logo-img {
  position: relative;
  right: 70px;
  bottom: 120px;
}

header .logo-text {
  margin: 12px;
  position: relative;
  left: 50px;
}

header .logo-text b{
  color: black;
  font-weight: 550;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  padding-right: 10px;
}

header ul li:hover ul {
  display: block;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li ul li a {
  padding: 10px;
  background: #0E94A0;
  color: white;
  padding-left: 50px;
}

header ul li ul li a:hover {
  background: #006669;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li {
  width: 100%;
}

header ul li {
  float: left;
  position: relative; 
}


header ul li a {
  display: block;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 21px;
  font-size: 1.2em;
  text-decoration: none; 
}

header ul li a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
header ul li a:hover{
  color: #ffffff;
}

header ul li a:hover:after{
  width: 100%;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color:rgb(150, 144, 118);    
}

/*=============== LOGIN & REGISTER ===============*/
.form__wrapper {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.form {
  background-color: hsl(0 0% 100% / 0.22);
  border: 2px solid hsl(0 0% 100% / 0.24);
  width: 432px;
  padding: 4rem 3rem 3.5rem;
  border-radius: 1.5rem;
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
}

.form-active {
  left: 50%;
}

.form__title {
  text-align: center;
  font-size: var(--h1-fs);
  margin-bottom: 2rem;
}

.form__content {
  display: grid;
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.form__box {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}

.form__icon,
.form__eye {
  font-size: 1.25rem;
}

.form__input {
  width: 100%;
  padding-block: 0.75rem;
  background: none;
  color: var(--white-color);
}

.form__box-input {
  position: relative;
}

.form__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--medium);
  transition: 0.3s;
}

.form__eye {
  position: absolute;
  right: 0;
  top: 18px;
  cursor: pointer;
}

.form__check,
.form__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__check {
  margin-bottom: 1.5rem;
}

.form__check-label,
.form__forgot,
.login__register {
  font-size: var(--small-fs);
}

.form__check-group {
  column-gap: 0.5rem;
}

.form__check-input {
  width: 16px;
  height: 16px;
}

.form__forgot {
  color: var(--white-color);
}

.form__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--medium);
  cursor: pointer;
  margin-bottom: 2rem;
}

.login__register {
  text-align: center;
}

.login__register span {
  font-weight: var(--medium);
  cursor: pointer;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -12px;
  font-size: var(--small-fs);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 576px) {
  .form {
    width: calc(100% - 2rem);
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
  }

  .form__title {
    font-size: 1.75rem;
  }
}
