@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "SpicyRice";
    --clr-primary: #FFD300;
    --clr-primary-400: #FCDA3C;
    --clr-primary-600: #FFCB46;
    --clr-neutral: #fff;
    --clr-secondary-200: #636363;
    --clr-secondary-400: #4D4B4B;
    --clr-secondary-600: #323232;


}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
    margin: 0;
    box-sizing: border-boxs;
}

body {
    font-family: var(--ff-primary);
    background: black;
}

.color {
    color: #ff0066;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.btn {
    width: min(40%, 6rem);
    border-radius: 50px;
    border: 2px solid;
    padding: 0.5rem;
    padding-inline: 1.4rem;
}

.btn-primary {
    color: var(--clr-neutral);
    background: var(--clr-primary);
}

.btn-neutral {
    background: var(--clr-neutral);
    color: var(--clr-primary);
}

.btn-secondary {
    background: var(--clr-secondary-600);
    background: var(--clr-secondary-600);
    color: var(--clr-neutral);
}

.container {
    margin: 0 auto;
    width: min(95%, 82rem);
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec1-img {
    display: block;
    width: min(70%, 35rem);
}

.text-narrow {
    max-width: 30rem;
}

.text-center {
    text-align: center;
}


/* Nav */

header {
    background: #ff0066;
    height: 0px;
    position: sticky;
    top: 0;
    padding-right: 50px;
    width: 100%;
    z-index: 9999;

}

header * {
    color: white;
}


header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    bottom: 30px;
}

header .logo-text {
    margin: 12px;
}

header .logo-text b {
    color: black;
    font-weight: 550;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 30px;
}

header ul li {
    padding-right: 10px;
}

header ul li:hover ul {
    display: block;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;
}

header ul li ul li a {
    padding: 10px;
    background: #0E94A0;
    color: white;
    padding-left: 50px;
}

header ul li ul li a:hover {
    background: #006669;
}

header ul li ul li a.logout {
    color: red;
}

header ul li ul li {
    width: 100%;
}

header ul li {
    float: left;
    position: relative;
}


header ul li a {
    display: block;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 21px;
    font-size: 1.2em;
    text-decoration: none;
}

header ul li a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

header ul li a:hover {
    color: #ffffff;
}

header ul li a:hover:after {
    width: 100%;
}

header .menu-toggle {
    display: none;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover {
    color: rgb(150, 144, 118);
}

/* *Section */
/* !sec1 */
.sec1-text-area {
    margin-top: 5rem;
    display: flex;
    margin: 1.5rem;
    flex-direction: column;
}

.sec1-text-area h1 {
    font-size: 3rem;
    color: #ff0066;
}

.sec1-text-area h3 {
    color: #ff0066;
    font-size: 1.1rem;
    font-weight: 600;
}

.sec1-text-area p {
    color: #ff0066;
    margin-top: 1rem;
}

.sec1-text-area a {
    text-align: center;
    margin-top: 1em;
}

/* !sec2 */
.sec2 h1 {
    font-family: var(--ff-secondary);
    color: #ff0066;
    font-size: 2rem;
}

.sec2 p {
    font-size: 1.2rem;
    margin: 4em;
    max-width: 85%;
    color: #ff0066;
}

/* !sec3 */
.sec3 {
    background: var(--clr-primary-400);
}

.sec3 img {
    width: 10%;
}

.sec3 p {
    font-size: 1.8em;
    color: #ff0066;
}

.sec3 h6 {
    font-weight: 400;
    font-size: 1em;
    text-align: right;
    color: #ff0066;
}

.sec3 .text-narrow {
    max-width: 40rem;
}

/* !sec4 */
.sec4 .display {
    background: var(--clr-primary-400);
    justify-content: center;
    border-radius: 50px;
    padding: 2rem;
}

.sec4 h1 {
    font-size: 3rem;
    color: #ff0066;
}

.sec4 h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #ff0066;
}

.sec4-hr {
    width: 28%;
    border: 2px solid var(--clr-primary-400);
}

.sec4 .display {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.sec4 .display img {
    width: min(100%, 55rem);
}

.d1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.d4 {
    grid-column: 2;
    grid-row: 1;
}

.d2 {
    grid-column: 2;
    grid-row: 2;
}

.d3 {
    grid-column: 3;
    grid-row: 2;
}

.d5 {
    grid-column: 3;
    grid-row: 1;
}


footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-top: auto;
    background: #1e1f29;
    border-top: 3px solid red;
}

/* Footer Top Start */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 6%;
    background-color: #2b2d42;
}

.footer-top .col {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
}

.footer-top .col .head-title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.footer-top .col .head-title h2::after {
    content: "";
    width: 8%;
    height: 3px;
    background: #d10024;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.footer-top .col .head-title h2:hover::after {
    width: 20%;
}

.footer-top .col .F-content p {
    font-size: 14px;
    color: #8d99ae;
    padding: 5px 0;
}

.footer-top .col .F-content ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-top .col .F-content ul li a {
    text-decoration: none;
    color: #8d99ae;
    font-size: 14px;
}

.footer-top .col .F-content ul li a:hover {
    color: #d10024;
}

.footer-top .col .F-content ul li a i {
    color: #d10024;
    margin-right: 5px;
}

/* Footer Top Start */

/* Footer Bottom Start */
.footer-bottom {
    background: #252739;
    padding: 15px 6%;
    font-size: 16px;
    color: #8d99ae;
}

.footer-bottom .payment-method ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-bottom .payment-method li {
    list-style: none;
    margin: 0 5px;
    padding: 10px 0;
}

.footer-bottom .payment-method li i {
    font-size: 32px;
    color: #8d99ae;
    cursor: pointer;
    transition: transform 0.5s;
}

.footer-bottom .payment-method li i:hover {
    color: #d10024;
    transform: scale(1.1);
}

.footer-bottom .copyright p {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}

.footer-bottom .copyright i {
    color: #d10024;
}

.footer-bottom .copyright a {
    color: #8d99ae;
    text-decoration: none;
}

.footer-bottom .copyright a:hover {
    color: #d10024;
}

/* Footer Bottom End*/

/* *Media Querry */
@media (min-width: 40em) {

    header,
    section,
    footer {
        padding: 2rem 0;
    }

    .split {
        flex-direction: row;
    }

}

@media (max-width: 40em) {
    .sec2 p {
        margin: 3em;
    }

    .sec4 .display {
        padding: 1.5em;
    }

    .footer .container .display {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer .container .display .text-area {
        display: flex;
        align-items: center;
    }

    .footer .container .display .text-area {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .nav-link ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .nav-link a {
        font-size: 15px;
    }

    .footer .social ul {
        margin-top: 0;
    }

    .social li {
        margin: 0px 15px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff0066;
}